@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto:100,100i,300,300i,400');

@media screen and (max-width: 540px) {
    .section__body, .header {
        padding: 0 2rem 0 2rem;
    }

    .page-header__title {
        font-size: 3rem !important;
        word-wrap: break-word;
    }

    .page-header__opener {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
    .section__body, .header {
        padding: 0 2rem 0 2rem;
    }

    .page-header__title {
        font-size: 3rem !important;
    }

    .page-header__opener {
        max-width: 50vw;
    }
}

@media screen and (min-width: 720px) and (max-width: 1200px) {
    .section__body, .header {
        padding: 0 4rem 0 4rem;
        max-width: 900px;
    }

    .page-header__opener {
        max-width: 50vw;
    }
}

@media screen and (min-width: 1200px) {
    .section__body, .header {
        padding: 0 5rem 0 5rem;
        max-width: 900px;
    }

    .page-header__opener {
        max-width: 500px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Default Font */
    font-family: 'Roboto', sans-serif;
    /* Colors */
    background-color: white;
    color: #333333;
}

.page-header {
    margin: 0 auto;
    margin-top: 20vh;
}

.page-header__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
    padding: 0 10vw;
}

.page-header__opener {
    text-align: justify;
    margin: 15vh auto;
}

.visualization {
    margin: 0;
    position: relative;
    padding: 0;
    position: relative;
    padding: 5vh 0;
    background-size: 4px 4px;
    background-image: -webkit-repeating-radial-gradient(center center, #f4f4f4,  #E4E4E4 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #f4f4f4,  #E4E4E4 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #f4f4f4,  #E4E4E4 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #f4f4f4,  #E4E4E4 1px, transparent 100%);
}

.visualization__caption {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #929292;
    margin-top: 0.5em;
    padding: 0 5vw;
}

.legend {
    font-family: 'Roboto',sans-serif;
    transition: opacity 0.5s;
    opacity: 0;
    fill: #929292;
    font-size: 1rem;
}

.pie-slice:hover {
    stroke: #E4E4E4;
    stroke-width: 2px;
}

.legend__title {
    font-weight: 600;
    fill: black;
}

.legend__topic-words {
    font-size: 0.75rem;
}

.legend__percent {
    fill: white;
}

.legend--visible {
    opacity: 1;
}

.section {

}

.section {
    margin-top: 50vh;
}

.section:last-of-type {
    margin-bottom: 50vh;
}

.section__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    margin: 5vh 0;
}

.section__body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin: 0 auto;
    padding: 2vh 0;
}
